# Preparativos

## Importando Bibliotecas

In [94]:
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import datetime

import matplotlib.pyplot as plt
import seaborn as sns

import os

## Conectando ao MySQL container

In [15]:
engine_1 = create_engine(
    "mysql+mysqlconnector://root:acme@localhost:3306/ibge")
engine_23 = create_engine(
    "mysql+mysqlconnector://root:acme@localhost:3306/service")

conn_1 = engine_1.connect()
conn_23 = engine_23.connect()

# Solução questão 2

### funções para calcular custos

Antes de 13/06/2020 O serviço custava  $\frac{0.000015\space \text{reais}}{\text{milissegundo}}$, mas para tempos $<100\space \text{milissegundo}$ arredonda o tempo para $100\space \text{milissegundo}$.

Depois removeram esse arredondamento.

Fazendo um `query` que solucione as alternativas B, C, D e E.

In [86]:
query_q2 = """
SELECT 
    date, 
    execution_time, 
    CASE
        WHEN date >= '2020-6-13' OR execution_time > 100 THEN 0.000015 * execution_time
        ELSE 100 * 0.000015
    END AS cost,
    IF(execution_time > 100, 0.000015 * execution_time, 100 * 0.000015) AS old_cost,
    0.000015 * execution_time as new_cost
FROM executions
"""
df_q2 = pd.read_sql_query(query_q2, engine_23)
df_q2.head()

         date  execution_time      cost  old_cost  new_cost
0  2020-03-02              68  0.001500    0.0015  0.001020
1  2020-06-13              63  0.000945    0.0015  0.000945
2  2020-06-20              70  0.001050    0.0015  0.001050
3  2020-05-09              77  0.001500    0.0015  0.001155
4  2020-02-12              67  0.001500    0.0015  0.001005

## A)
Montar o diagrama ER que descreve o modelo de dados dos dois arquivos

![diagram_er](diagram-ER.png)

## B)
Calcular o custo total que a Acme teve levando em conta toda a base de dados de
execuções

In [88]:
all_cost = df_q2.cost.sum()
print(f"O Custo todal da Acme pelo serviço é R$: {all_cost:.2f}")

O Custo todal da Acme pelo serviço é R$: 344.36

## C) 
Calcular quanto a Acme deixou de gastar com a implementação do novo modelo de precificação

In [89]:
old_all_cost = df_q2.old_cost.sum()
print(f"A Acme economizou R$: {old_all_cost - all_cost :.2f}")

A Acme economizou R$: 0.84

## D)
Calcular qual seria o custo total se todas as transações estivessem no modelo antigo

In [90]:
print(f"O gasto seria de R$: {old_all_cost:.2f}")

O gasto seria de R$: 345.20

## E)
Calcular qual seria o custo total se todas as transações estivessem no modelo novo

In [91]:
new_all_cost = df_q2.new_cost.sum()
print(f"O gasto seria de R$: {new_all_cost:.2f}")

O gasto seria de R$: 343.67

## F)
Mostrar um gráfico comparativo com os cenários descritos em B, C e D ao longo do tempo

In [ ]:
query_q2f =query_q2 + """
GROUP BY date.month
"""

pd.read_sql_query(query_q2f, con=conn_23)

In [93]:
sns.set_theme()

df_month = df_q2.groupby(df_q2.date.dt.month)[['cost', 'old_cost']].sum().reset_index(names='Month')

df_month.Month =  pd.to_datetime(df_month["Month"], format='%m').dt.month_name().str.slice(stop=3)

plt.fill_between(df_month.Month, df_month.old_cost, df_month.cost, color="green", label="discount", alpha=0.4)
sns.lineplot(df_month, x="Month", y="cost", linewidth=2, label="Cost")
sns.lineplot(df_month, x="Month", y="old_cost", linewidth=2, label="Old Cost")

plt.savefig(os.path.join("plots", "Q(2F).pdf"))

AttributeError: Can only use .dt accessor with datetimelike values

# Solução questão 3
Para solucionar esses problemas vamos juntar os DataFrame

In [95]:
query = """
    SELECT * FROM executions 
    LEFT JOIN functions ON executions.function_id=functions.id
"""
df_q3 = pd.read_sql_query(query, con=conn_23)

df_q3.head()

,id,date,function_id,execution_time,id,function_name,external_component_avg_latency,has_external_component
0,0,2020-03-02,0,68,0,checkSomething,0,0
1,1,2020-06-13,0,63,0,checkSomething,0,0
2,2,2020-06-20,0,70,0,checkSomething,0,0
3,3,2020-05-09,0,77,0,checkSomething,0,0
4,4,2020-02-12,0,67,0,checkSomething,0,0